:host {
  display: flex;
  flex-direction: column;
  background-color: var(--app-background);
  color: var(--app-background-contrast);
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  background-color: var(--app-background-blend-1);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;

  > * {
    margin: 10px;
  }

  .title {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 10px;
  }

  .button {
    position: relative;
    background-color: var(--app-background-blend-2);
    color: var(--app-background-contrast);
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    overflow: hidden;
    &.info {
      background-color: #3880ff;
      color: #fff;
    }
    &:hover:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(white, 0.15);
    }
    &:active:after {
      background-color: rgba(white, 0.3);
    }
  }
}

main {
  flex: 1;
  overflow: auto;
}

section {
  padding: 20px 10px;
  h4 {
    text-align: center;
    opacity: 0.5;
  }
}

footer {
  padding: 10px;
  background-color: var(--app-background-blend-2);
  text-align: center;
  font-size: 0.8em;
  opacity: 0.67;
}

.spacer {
  flex: 1;
}

a {
  text-decoration: none;
  color: #3880ff;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  > * {
    margin: 0 20px;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin: 0 20px;
  }
}

.info-text {
  text-align: center;
  opacity: 0.67;
}

.hint-text {
  display: inline-block;
  margin-top: 10px !important;
  opacity: 0.33;
}
