<header>
  <div class="title">Progress Circle</div>
  <div class="spacer"></div>
  <a class="button" href="https://www.npmjs.com/package/ui-progress-circle">
    Getting Started
  </a>
</header>

<main>
  <section>
    <h4>Loading</h4>
    <div class="container">
      <app-progress-circle-one></app-progress-circle-one>
    </div>
  </section>

  <section>
    <h4>Overlapping</h4>
    <div class="container">
      <div class="flex-column">
        <app-progress-circle-two></app-progress-circle-two>
        <span class="hint">Click me!</span>
      </div>
    </div>
  </section>

  <section>
    <h4>Analytics</h4>
    <div class="container">
      <div class="flex-row">
        <app-progress-circle-three value="33" color="danger">
          1230 €
        </app-progress-circle-three>
        <app-progress-circle-three value="66" color="success">
          326 User
        </app-progress-circle-three>
        <app-progress-circle-three value="42" color="warning">
          42h
        </app-progress-circle-three>
      </div>
    </div>
  </section>

  <section>
    <h4>Gauge</h4>
    <div class="container">
      <div class="flex-column">
        <app-progress-circle-four
          [value]="gaugeValue"
        ></app-progress-circle-four>
        <input
          type="range"
          min="0"
          max="100"
          style="width: 200px; margin-top: 10px"
          [(ngModel)]="gaugeValue"
        />
        <span class="hint">Drag me!</span>
      </div>
    </div>
  </section>

  <section>
    <h4>More Examples Planned</h4>
    <div class="container info">
      <a href="https://github.com/domske/ui-progress-circle-demo/">
        Source Code
      </a>
      of this demo page.<br />
      Feel free to add more examples.
    </div>
  </section>
</main>

<footer>
  © Copyright 2020 Dominik Geng <br />
  <a href="https://github.com/domske">@domske</a>
</footer>
