:host {
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  > * {
    position: absolute;
  }
}

.gauge {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  > * {
    position: absolute;
  }
}

.back {
  opacity: 0.2;
}

.danger {
  /* 180 / 50 * 40 */
  transform: rotate(144deg);
}

.warning {
  /* 180 / 50 * 30 */
  transform: rotate(108deg);
}

.value {
  text-align: center;
  bottom: 50%;
  width: 100%;
  opacity: 0.5;
  font-size: 2em;
}
